<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Page</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <h1>New Page</h1>
    <br />
    <img
      src="https://cdn-fastly.petguide.com/media/2022/02/16/8235403/top-10-funniest-dog-breeds.jpg?size=720x845&nocrop=1"
      alt="Funny Dog"
    />
    <img />
  </body>
</html>
